<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Govt. Schemes - AgriConnect</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <!-- Navbar -->
  {% include 'navbar.html' %}

  <!-- Toast Notifications -->
  <div id="toast-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="toast {{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>


  <h2 class="page-title">Govt Schemes</h2>
    <!-- Footer -->
<footer>
    <p>&copy; 2025 AgriConnect | Empowering Farmers and Buyers</p>
</footer>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>